@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Prompt', sans-serif;
}

body {
    background-color: #E0E0E0;
}

.profile-component {
    background-color: white;
    padding: 60px;
}

.nav-item .nav-link {
    color: #2C73C9;
}

.row {
    margin: 39px;
}

.col-md-6 p {
    color: #2C73C9;
}

.button .edit {
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    color: #6c757d;
    background-color: #E0E0E0;
}

.dropdown-menu ul {
    background-color: #32CD32;
}

@media (max-width: 820px) {

    /* mobile */
    .header {
        margin: 0px;
        padding: 20px 50px 130px 0px;
        font-size: 20px;
        color: #FFFFFF;
        background-color: #2C73C9;
        width: 100%;
    }

    #container-left {
        float: left;
        width: 70%;
    }

    #container-left img {
        margin-left: 20px;
        margin-top: 15px;
    }

    #container-right {
        text-align: right;
        float: right;
        width: 30%;
    }

    .button-logout a:link,
    a:visited {
        background-color: #FF5C5C;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 10px;

    }

    .button-logout a:hover {
        background-color: #CD5C5C;
    }

    .button-cart a.cart:link,
    a.cart:visited {
        background-color: #32CD32;
        padding: 5px 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 5px;
    }

    /* navbar */
    #main-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
    }

    #mini-bar a {
        display: block;
        width: 100%;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    #mini-bar a:hover {
        background-color: #111;
    }

    /* --------------------Style The Dropdown Button ---------------------*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}

@media (min-width: 820px) and (max-width: 1024px) {

    /* tablet */
    .header {
        margin: 0px;
        padding: 20px 50px 130px 0px;
        font-size: 20px;
        color: #FFFFFF;
        background-color: #2C73C9;
        width: 100%;
    }

    #container-left {
        float: left;
        width: 70%;
    }

    #container-left img {
        margin-left: 20px;
        margin-top: 15px;
    }

    #container-right {
        text-align: right;
        float: right;
        width: 30%;
    }

    .button-logout a:link,
    a:visited {
        background-color: #FF5C5C;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 10px;

    }

    .button-logout a:hover {
        background-color: #CD5C5C;
    }

    .button-cart a.cart:link,
    a.cart:visited {
        background-color: #32CD32;
        padding: 5px 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 5px;
    }

    /* ------------- navbar-------------- */
    #main-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        width: 100%;
    }

    #mini-bar a {
        display: block;
        width: 100%;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    #mini-bar a:hover {
        background-color: #111;
    }

    /* --------------------Style The Dropdown Button ---------------------*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}

@media (min-width: 1024px) {

    /* laptop */
    .header {
        margin: 0px;
        padding: 20px 50px 100px 0px;
        font-size: 20px;
        color: #FFFFFF;
        background-color: #2C73C9;
        width: 100%;
    }

    #container-left {
        float: left;
        width: 70%;
    }

    #container-left img {
        margin-left: 20px;
        margin-top: 15px;
    }

    #container-right {
        text-align: right;
        float: right;
        width: 30%;
    }

    .button-logout a:link,
    a:visited {
        background-color: #FF5C5C;
        padding: 5px 10px;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 10px;

    }

    .button-logout a:hover {
        background-color: #CD5C5C;
    }

    .button-cart a.cart:link,
    a.cart:visited {
        background-color: #32CD32;
        padding: 5px 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 3px;
        color: #FFFFFF;
        margin-top: 5px;
    }

    /* navbar */
    #main-bar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    #mini-bar {
        float: left;
    }

    #mini-bar a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    #mini-bar a:hover {
        background-color: #111;
    }

    /* --------------------Style The Dropdown Button ---------------------*/
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
}